@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.search {
  margin-top: 20px;
  width: 95vw;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

.card {
  display: grid;
  grid-template: auto 2fr auto / auto 2fr auto;
  /* border-top: 2px solid rgba(0, 0, 0, 0.118); */
  /* background-color: red; */
}

img {
  grid-column:1/2;
  width: 150px;
  /* clip-path: circle(); */
  border: .1px solid rgb(140, 140, 140);
  border-radius: 200px;
  margin: 20px;
}

.list {
  /* background-color: green; */
  grid-column:2/2;
  color: rgba(52, 52, 52, 0.694);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
}

h1 {
  color:black;
  font-size: 55px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

li {
  margin: 8px;
}

.toggle {
  background-color: rgba(255, 255, 255, 0);
  border-color:rgba(140, 140, 140, 0);
  width: 60px;
  font-size: 100px;
}

.tests {
  /* background-color: purple; */
  margin-top: 25px;
  font-size: 18px;
  list-style: none;
}

.info {
  /* background-color: orange; */
  font-size: 18px;
  list-style: none;
}