@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

img {
  width: 150px;
  /* clip-path: circle(); */
  border: .1px solid rgb(140, 140, 140);
  border-radius: 200px;
}

.info {
  color: rgba(52, 52, 52, 0.694);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}